{% extends 'base.html' %}}
{% load static %}

{% block title %}

Мой аккаунт :: {{ block.super }}

{% endblock %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Мой аккаунт</li>
            </ol>
        </div>
    </nav>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-9 order-lg-last dashboard-content">
                <h2>Приветствуем, {{ user.username }}!</h2>
                <p>Вы находитесь в своем личном кабинете. <br>Здесь Вы можете обновить свои данные,
                    посмотреть свои заказы и отзывы к товарам.</p>
            </div>

            {% include "inc/_acc_sidebar.html" %}

        </div>
    </div>
</main>

{% endblock %}
