{% extends 'base.html' %}}
{% load static %}
{% load bootstrap4 %}

{% block title %}

Удалить аккаунт :: {{ block.super }}

{% endblock %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Мой аккаунт</li>
            </ol>
        </div>
    </nav>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-9 order-lg-last dashboard-content">
                <h2>Удалить аккаунт {{ object.username }}?</h2>
                <p>Удалив аккаунт в нашем магазине, Вы потеряете все личные данные и информацию о заказах.</p>

                <form action="{% url 'delete' %}" method="post">

                    {% csrf_token %}

                    <div class="form-footer-right">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </div>

                </form>
            </div>

            {% include "inc/_acc_sidebar.html" %}

        </div>
    </div>
</main>

{% endblock %}
