{% extends 'base.html' %}}
{% load static %}

{% block title %}
{{ hello }} :: {{ block.super }}
{% endblock %}
{% block content %}
<main class="main">
    <div class="container position-relative">
        <div class="shop-banner bg-img banner-left" style="background-image: url(assets/images/bg-shop.jpg)">
            <div class="banner-layer banner-layer-middle">
                <h2 class="m-b-1 appear-animate banner-title" data-animation-duration="1200" data-animation-delay="800"
                    data-animation-name="fadeIn">New Hot Cosmetics</h2>
                <h3 class="text-uppercase rotated-upto-text mb-0 position-relative appear-animate line-height-1"
                    data-animation-delay="800" data-animation-duration="1200" data-animation-name="blurIn"><small>Up
                    to</small>50% Off</h3>

                <a href="category.html" class="btn btn-xl btn-icon-right appear-animate text-dark p-0" role="button"
                   data-animation-delay="2200" data-animation-duration="1200" data-animation-name="fadeIn">Shop Now <i
                        class="fas fa-long-arrow-alt-right"></i></a>
            </div><!-- End .div-content -->
        </div>
    </div><!-- End .container -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'products' %}">Бренды</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </div>
    </nav>

    <div class="container mb-3">
        <nav class="toolbox">
            <div class="toolbox-left">
                <div class="toolbox-item toolbox-sort">
                    <label>Sort By:</label>

                    <div class="select-custom">
                        <select name="orderby" class="form-control">
                            <option value="menu_order" selected="selected">По умолчанию</option>
                            <option value="popularity">Популярные</option>
                            <option value="date">Новинки</option>
                            <option value="price">Дешевые</option>
                            <option value="price-desc">Дорогие</option>
                        </select>
                    </div><!-- End .select-custom -->
                </div><!-- End .toolbox-item -->
            </div><!-- End .toolbox-left -->

            <div class="toolbox-right">
                <!--                <div class="toolbox-item toolbox-show">-->
                <!--                    <label>Show:</label>-->

                <!--                    <div class="select-custom">-->
                <!--                        <select name="count" class="form-control">-->
                <!--                            <option value="12">12</option>-->
                <!--                            <option value="24">24</option>-->
                <!--                            <option value="36">36</option>-->
                <!--                        </select>-->
                <!--                    </div>&lt;!&ndash; End .select-custom &ndash;&gt;-->
                <!--                </div>&lt;!&ndash; End .toolbox-item &ndash;&gt;-->

                <!--                <div class="toolbox-item layout-modes">-->
                <!--                    <a href="category.html" class="layout-btn btn-grid active" title="Grid">-->
                <!--                        <i class="icon-mode-grid"></i>-->
                <!--                    </a>-->
                <!--                    <a href="category-list.html" class="layout-btn btn-list" title="List">-->
                <!--                        <i class="icon-mode-list"></i>-->
                <!--                    </a>-->
                <!--                </div>&lt;!&ndash; End .layout-modes &ndash;&gt;-->
            </div><!-- End .toolbox-right -->
        </nav>

        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">
                {% for good in goods %}
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a href="product.html">
                            <img src="assets/images/products/product-1.jpg" alt="product">
                        </a>
                        <!--                        <div class="label-group">-->
                        <!--                            <div class="product-label label-hot">HOT</div>-->
                        <!--                            <div class="product-label label-sale">-20%</div>-->
                        <!--                        </div>-->
                        <div class="btn-icon-group">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i
                                    class="icon-shopping-cart"></i></button>
                        </div>
                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Быстрый
                            просмотр></a>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="{% url 'category' good.category.slug %}" class="product-category">{{
                                    good.category }}</a>
                            </div>
                            <!--                                <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
                        </div>
                        <h2 class="product-title">
                            <a href="product.html">{{ good.title }}</a>
                        </h2>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price">{{ good.price }}</span>
                            <span class="product-price">{{ good.price }}</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
                {% endfor %}
            </div><!-- End .col-xl-2 -->

            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-2.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Ray Ban 5228</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="product-price">$33.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->

            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-3.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-sale">-20%</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-5.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-sale">-30%</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-6.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-hot">HOT</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-7.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-sale">-8%</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-4.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-sale">-40%</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-8.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-9.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-hot">HOT</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-10.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-sale">-30%</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-11.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">-->
            <!--                <div class="product-default inner-quickview inner-icon">-->
            <!--                    <figure>-->
            <!--                        <a href="product.html">-->
            <!--                            <img src="assets/images/products/product-12.jpg" alt="product">-->
            <!--                        </a>-->
            <!--                        <div class="label-group">-->
            <!--                            <div class="product-label label-hot">HOT</div>-->
            <!--                        </div>-->
            <!--                        <div class="btn-icon-group">-->
            <!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i-->
            <!--                                    class="icon-shopping-cart"></i></button>-->
            <!--                        </div>-->
            <!--                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>-->
            <!--                    </figure>-->
            <!--                    <div class="product-details">-->
            <!--                        <div class="category-wrap">-->
            <!--                            <div class="category-list">-->
            <!--                                <a href="category.html" class="product-category">category</a>-->
            <!--                            </div>-->
            <!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
            <!--                        </div>-->
            <!--                        <h2 class="product-title">-->
            <!--                            <a href="product.html">Product Short Name</a>-->
            <!--                        </h2>-->
            <!--                        <div class="ratings-container">-->
            <!--                            <div class="product-ratings">-->
            <!--                                <span class="ratings" style="width:100%"></span>&lt;!&ndash; End .ratings &ndash;&gt;-->
            <!--                                <span class="tooltiptext tooltip-top"></span>-->
            <!--                            </div>&lt;!&ndash; End .product-ratings &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
            <!--                        <div class="price-box">-->
            <!--                            <span class="old-price">$90.00</span>-->
            <!--                            <span class="product-price">$70.00</span>-->
            <!--                        </div>&lt;!&ndash; End .price-box &ndash;&gt;-->
            <!--                    </div>&lt;!&ndash; End .product-details &ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End .col-xl-2 &ndash;&gt;-->
            <!--        </div>&lt;!&ndash; End .row &ndash;&gt;-->

            <nav class="toolbox toolbox-pagination">
                <div class="toolbox-item toolbox-show">
                    <label>Страница</label>

                    <!--                <div class="select-custom">-->
                    <!--                    <select name="count" class="form-control">-->
                    <!--                        <option value="12">12</option>-->
                    <!--                        <option value="24">24</option>-->
                    <!--                        <option value="36">36</option>-->
                    <!--                    </select>-->
                    <!--                </div>&lt;!&ndash; End .select-custom &ndash;&gt;-->
                </div><!-- End .toolbox-item -->

                <ul class="pagination toolbox-item">
                    <li class="page-item disabled">
                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div><!-- End .container -->
</main><!-- End .main -->

{% endblock %}