{% extends 'base.html' %}}
{% load static %}
{% load shopping_tags %}


{% block title %}
{{ good_item.title }} :: {{ block.super }}
{% endblock %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <!--TODO доналадить бредкрамп-->
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'shopping' %}">Магазин</a></li>
                <li class="breadcrumb-item"><a href="{{ good_item.category.get_absolute_url }}">{{ good_item.category
                    }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ good_item.title }}</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        <div class="product-single-container product-single-default">
            <div class="row">

                {% if photos %}
                <div class="col-md-5 product-single-gallery">
                    <div class="product-slider-container">
                        <div class="product-single-carousel owl-carousel owl-theme">

                            {% for photo in photos %}
                            <div class="product-item">
                                <img class="product-single-image" src="{{ photo.photo.url }}"
                                     data-zoom-image="{{ photo.photo.url }}"/>
                            </div>
                            {% endfor %}

                        </div>
                        <!-- End .product-single-carousel -->
                        <span class="prod-full-screen">
									<i class="icon-plus"></i>
								</span>
                    </div>

                    {% if photos.count > 1 %}
                    <div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>

                        {% for photo in photos %}
                        <div class="owl-dot">
                            <img src="{{ photo.photo.url }}"/>
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}

                </div><!-- End .product-single-gallery -->
                {% else %}
                Фото товара отсутствует
                {% endif %}

                <div class="col-md-7 product-single-details">
                    <h1 class="product-title">{{ good_item.title }}</h1>

                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:{{ finish_rating }}%"></span><!-- End .ratings -->
                        </div><!-- End .product-ratings -->

                        <a href="#rev" class="rating-link">( Отзывы: {{ reviews | length }} )</a>
                    </div><!-- End .ratings-container -->

                    <hr class="short-divider">

                    <div class="price-box">
                        {% if good_item.price == new_price %}
                        <span class="product-price">{{ new_price }} у.е.</span>
                        {% else %}
                        <span class="old-price">{{ good_item.price }} у.е.</span>
                        <span class="product-price">{{ new_price }} у.е.</span>
                        {% endif %}
                    </div><!-- End .price-box -->

                    <div class="product-desc">
                        <p>
                            {{ good_item.description | truncatechars:200 | safe }}
                        </p>
                    </div><!-- End .product-desc -->

                    <hr class="divider">

                    <div class="product-action">
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'orders:cart_add' good_item.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <input type="submit" class="btn btn-sm btn-primary" value="В корзину">
                        </form>

                        {% else %}
                        <p>Если вы хотите купить этот товар:</p>
                        <a href="#">Зарегистрируйтесь</a> | <a href="#">Авторизуйтесь</a>
                        {% endif %}
                    </div><!-- End .product-action -->

                    <hr class="divider mb-1">
                </div><!-- End .product-single-details -->
            </div><!-- End .row -->
        </div><!-- End .product-single-container -->

        <div class="product-single-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" name="text" id="product-tab-desc" data-toggle="tab"
                       href="#product-desc-content"
                       role="tab" aria-controls="product-desc-content" aria-selected="true">Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content"
                       role="tab" aria-controls="product-reviews-content" aria-selected="false" name="rev">Отзывы: ({{
                        reviews | length }})</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
                     aria-labelledby="product-tab-desc">
                    <div class="product-desc-content">
                        <p>
                            {{ good_item.description }}
                        </p>
                    </div><!-- End .product-desc-content -->
                </div><!-- End .tab-pane -->

                <div class="tab-pane fade" id="product-reviews-content" role="tabpanel"
                     aria-labelledby="product-tab-reviews">
                    <div class="product-reviews-content">
                        <div class="row">
                            <div class="col-xl-7">
                                <h2 class="reviews-title">Отзывы на {{ good_item }}:</h2>

                                <ol class="comment-list">

                                    {% for item in reviews %}
                                    <li class="comment-container">
                                        <div class="comment-box">
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings"
                                                          style="width:{{ item.review_rating }}%"></span>
                                                    <!-- End .ratings -->
                                                </div><!-- End .product-ratings -->
                                            </div><!-- End .ratings-container -->

                                            <div class="comment-info mb-1">
                                                <h4 class="avatar-name">Автор: {{ item.user_name }}</h4> - <span
                                                    class="comment-date">{{ item.date_at_review | date:"d E Y  H:i" }}</span>
                                            </div><!-- End .comment-info -->

                                            <div class="comment-info mb-1">
                                                <h3 class="avatar-name">Заголовок: {{ item.review_title }}</h3>
                                            </div><!-- End .comment-info -->

                                            <div class="comment-text">
                                                <p>
                                                    {{ item.review_text | truncatewords_html:25 | safe }}
                                                </p>
                                            </div><!-- End .comment-text -->
                                        </div><!-- End .comment-box -->
                                    </li><!-- comment-container -->
                                    {% endfor %}

                                </ol><!-- End .comment-list -->
                            </div>

                            <div class="col-xl-5">
                                <div class="add-product-review">
                                    <h3 class="review-title">Добавьте свой отзыв:</h3>

                                    {% if request.user.is_authenticated %}
                                    <form action="{{ good_item.get_absolute_url }}" class="comment-form m-0"
                                          method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" class="btn btn-dark ls-n-15" value="Отправить">
                                    </form>

                                    {% else %}
                                    <p>Вы не авторизованны.</p>
                                    <p>Если Вы хотите оставить свой отзыв на товар:</p>
                                    <a href="#">Зарегистрируйтесь</a> | <a href="#">Авторизуйтесь</a>

                                    {% endif %}
                                </div><!-- End .add-product-review -->
                            </div>
                        </div>
                    </div><!-- End .product-reviews-content -->
                </div><!-- End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .product-single-tabs -->

        {% show_band good_item.category %}
        {% comment %}

        {% endcomment %}

    </div><!-- End .container -->
</main><!-- End .main -->

{% endblock %}
