{% extends 'base.html' %}}
{% load static %}

{% block title %}

Активация выполнена :: {{ block.super }}

{% endblock %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Активация</li>
            </ol>
        </div>
    </nav>

    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <div class="heading">
                    <h2 class="title">Активация Вашего аккаунта прошла успешно!</h2>
                    <p>Успешных покупок!</p>
                    {# оформа #}
                    <p><a href="{% url 'login' %}"><strong>Войти на сайт</strong></a></p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}