{% extends 'base.html' %}}
{% load static %}
{% load bootstrap4 %}

{% block title %}

Регистрация :: {{ block.super }}

{% endblock %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
            </ol>
        </div>
    </nav>

    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <div class="heading">
                    <h2 class="title">Зарегистрируйте свой аккаунт</h2>
                    <p>Создав аккаунт в нашем магазине, Вы сможете быстрее проходить процесс оформления заказа,
                        просматривать и отслеживать свои заказы в личном кабинете.</p>
                </div>

                <form action="{% url 'register' %}" method="post">

                    {% csrf_token %}

                    {% bootstrap_form_errors form type='fields' %}
                    {% bootstrap_form form layout='inline' %}

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary">Создать аккаунт</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
