{% load static %}

<div class="row pb-4">
    {% for good in goods %}
    <div class="col-12 product-default left-details product-list mb-4">

        {% for key, value in show_photo.items %}
        {% if key == good %}
        <figure>
            {% if value %}
            <a href="{{ key.get_absolute_url }}">
                <img src="{{ value.photo.url }}" alt="product">
            </a>

            {% else %}
            <a href="{{ key.get_absolute_url }}">
                <img src="{% static 'assets/images/photo_net.jpg' %}">
            </a>
            {% endif %}

            {% for key, value in promo_list.items %}
            {% if key == good %}
            <div class="label-group">
                {% if value != 0 %}
                <span class="product-label label-sale">-{{ value }}%</span>
                {% endif %}
            </div><!-- End .price-box -->
            {% endif %}
            {% endfor %}

        </figure>
        {% endif %}
        {% endfor %}


        <div class="product-details">
            <div class="category-list">
                <a href="{{ good.category.get_absolute_url }}" class="product-category">Категория:
                    {{ good.category }}</a>
            </div>
            <h2 class="product-title">
                <a href="{{ good.get_absolute_url }}">{{ good.title }}</a>
            </h2>
            <div class="ratings-container">
                {% for key, value in rating_list.items %}
                {% if key.title == good.title %}
                <div class="product-ratings">
                    <span class="ratings" style="width:{{ value }}%"></span><!-- End .ratings -->
                    <span class="tooltiptext tooltip-top"></span>
                </div><!-- End .product-ratings -->
                {% endif %}
                {% endfor %}
            </div><!-- End .product-container -->
            <p class="product-description">
                {{ good.description }}
            </p>
            {% for key, value in new_price_list.items %}
            {% if key == good %}
            <div class="price-box">
                {% if value == good.price %}
                <span class="product-price">{{ value }} у.е.</span>
                {% else %}
                <span class="old-price">{{ good.price }} y.e.</span>
                <span class="product-price">{{ value }} у.е.</span>
                {% endif %}
            </div><!-- End .price-box -->
            {% endif %}
            {% endfor %}

        </div><!-- End .product-details -->
    </div>
    {% endfor %}
</div>

