{% load static %}

<div class="row pb-4">
    {% for good in goods %}
    <div class="col-12 product-default left-details product-list mb-4">
        {% for key, value in data_goods.items %}
        {% if good == value.product %}
        <figure>
            {% if good.images_for_goods.all %}
            {% for photo in good.images_for_goods.all %}
            {% if forloop.counter == 1 %}
            <a href="{{ good.get_absolute_url }}">
                <img src="{{ photo.photo.url }}" alt="product">
            </a>
            {% endif %}
            {% endfor %}

            {% else %}
            <a href="{{ good.get_absolute_url }}">
                <img src="{% static 'assets/images/photo_net.jpg' %}" alt="product">
            </a>
            {% endif %}
            {% if value.promo %}
            <div class="label-group">
                <span class="product-label label-sale">-{{ value.promo }}</span>
            </div>
            {% endif %}
        </figure>
        <div class="product-details">
            <div class="category-list">
                <a href="{{ good.category.get_absolute_url }}" class="product-category">
                    Категория: {{ good.category }}
                </a>
            </div>
            <h2 class="product-title">
                <a href="{{ good.get_absolute_url }}">{{ good.title }}</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:{{ value.rating }}%"></span><!-- End .ratings -->
                    <span class="tooltiptext tooltip-top"></span>
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <p class="product-description">{{ good.description }}</p>
            <div class="price-box">
                {% if value.promo %}
                <span class="old-price">{{ good.price }} y.e.</span>
                <span class="product-price">{{ value.new_price }} у.е.</span>
                {% else %}
                <span class="product-price">{{ good.price }} у.е.</span>
                {% endif %}
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

