{% load static %}


<div class="products-section pt-0">
    <h2 class="section-title">Смотрите также:</h2>

    <div class="products-slider owl-carousel owl-theme dots-top">

        {% for good in goods %}
        <div class="product-default inner-quickview inner-icon">
            {% for key, value in goods_dict.items %}
            {% if good == value.product %}
            <figure>
                {% if value.photo %}
                <a href="{{ good.get_absolute_url }}">
                    <img src="{{ value.photo.photo.url }}">
                </a>
                {% else %}
                <a href="{{ good.get_absolute_url }}">
                    <img src="{% static 'assets/images/photo_net.jpg' %}">
                </a>
                {% endif %}
                {% if value.promo %}
                <div class="label-group">
                    <span class="product-label label-sale">-{{ value.promo }}</span>
                </div>
                {% endif %}
            </figure>
            <div class="product-details">
                <div class="category-wrap">
                    <div class="category-list">
                        <a href="category.html" class="product-category">Категория: {{ good.category }}</a>
                    </div>
                </div>
                <h3 class="product-title">
                    <a href="{{ good.get_absolute_url }}">{{ good }}</a>
                </h3>
                <div class="ratings-container">
                    <div class="product-ratings">
                        <span class="ratings" style="width:{{ value.rating }}%"></span><!-- End .ratings -->
                        <span class="tooltiptext tooltip-top"></span>
                    </div><!-- End .product-ratings -->
                </div><!-- End .ratings-container -->
                <div class="price-box">
                    {% if value.promo %}
                    <span class="old-price">{{ value.price }}</span>
                    <span class="product-price">{{ value.new_price }}</span>
                    {% else %}
                    <span class="product-price">{{ value.price }}</span>
                    {% endif %}
                </div><!-- End .price-box -->
            </div><!-- End .product-details -->
            {% endif %}
            {% endfor %}
        </div>

        {% endfor %}


{% comment %}
        {% for good in goods %}

        <div class="product-default inner-quickview inner-icon">

            {% for key, value in show_photo.items %}
            {% if key == good %}
            <figure>

                {% if value %}
                <a href="{{ key.get_absolute_url }}">
                    <img src="{{ value.photo.url }}">
                </a>
                {% else %}
                <a href="{{ key.get_absolute_url }}">
                    <img src="{% static 'assets/images/photo_net.jpg' %}">
                </a>
                {% endif %}

                {% for key, value in promo_list.items %}
                {% if key == good %}
                <div class="label-group">
                    {% if value != 0 %}
                    <span class="product-label label-sale">-{{ value }}%</span>
                    {% endif %}
                </div><!-- End .price-box -->
                {% endif %}
                {% endfor %}

            </figure>
            {% endif %}
            {% endfor %}

            <div class="product-details">
                <div class="category-wrap">
                    <div class="category-list">
                        <a href="category.html" class="product-category">Категория: {{ good.category }}</a>
                    </div>
                </div>
                <h3 class="product-title">
                    <a href="{{ good.get_absolute_url }}">{{ good.title }}</a>
                </h3>
                <div class="ratings-container">
                    <div class="product-ratings">

                        {% for key, value in show_rating.items %}
                        {% if key == good %}
                        <span class="ratings" style="width:{{ value }}%"></span><!-- End .ratings -->
                        <span class="tooltiptext tooltip-top"></span>
                        {% endif %}
                        {% endfor %}

                    </div><!-- End .product-ratings -->
                </div><!-- End .ratings-container -->


                {% for key, value in show_new_price.items %}
                {% if key == good %}
                <div class="price-box">
                    {% if value == good.price %}
                    <span class="product-price">{{ value }} у.е.</span>
                    {% else %}
                    <span class="old-price">{{ good.price }} y.e.</span>
                    <span class="product-price">{{ value }} у.е.</span>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                <!-- End .price-box -->
            </div><!-- End .product-details -->
        </div>

        {% endfor %}
{% endcomment %}

    </div><!-- End .products-slider -->
</div><!-- End .products-section -->
