{% load static %}
{% load static mptt_tags %}
{% load shopping_tags %}

<div class="sidebar-wrapper">
    <div class="widget">
        <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-1" role="button" aria-expanded="true"
               aria-controls="widget-body-1">Поиск:</a>
        </h3>

        <div class="collapse show" id="widget-body-1">

            <div class="widget-body">
                <form action="{% url 'pre_search' %}" method="get">
                    {% csrf_token %}
                    <input type="text" name="search_shop" placeholder="Поиск...">
                    <input type="text" name="next" value="{{ request.path|urlencode }}" style="display: none;">
                    <input type="submit" value="Поиск">
                </form>
            </div><!-- End .widget-body -->

        </div><!-- End .collapse -->

    </div><!-- End .widget -->

    <div class="widget">
        <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
               aria-controls="widget-body-2">Категории</a>
        </h3>

        <div class="collapse show" id="widget-body-2">
            <div class="widget-body">

{% comment %}
                <ul>
                    {% recursetree category %}
                    <li>
                        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>
{% endcomment %}

                <ul class="submenu">
                    {% recursetree category %}
                    <li>
                        <a href="{{ node.get_absolute_url }}">
                            <h6>
                                <span>{{ node.title }}</span>
                                <span class="fa fa-angle-right"></span>

                                {% for item in category %}
                                {% if item == node %}
                                ( {{ item.cnt }} )
                                {% endif %}
                                {% endfor %}
                            </h6>
                        </a>
                        {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>

            </div><!-- End .widget-body -->
        </div><!-- End .collapse -->
    </div><!-- End .widget -->

    <div class="widget">
        <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true"
               aria-controls="widget-body-5">Производители</a>
        </h3>

        <div class="collapse show" id="widget-body-5">
            <div class="widget-body">
                <ul class="cat-list">
                    {% for brand in brands %}
                    <li>
                        <a href="{{ brand.get_absolute_url }}">
                            <span>{{ brand }}</span>
                            <span>({{ brand.cnt }})</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div><!-- End .widget-body -->
        </div><!-- End .collapse -->

    </div><!-- End .widget -->

    <div class="widget widget-featured">
        <h3 class="widget-title">Лучшее</h3>

        <div class="widget-body">
            <div class="owl-carousel widget-featured-products">

                {% for key, value in data_goods.items %}
                {% if forloop.counter == 1 %}
                <div class="featured-col">{% endif %}
                    {% if forloop.counter == 4 %}
                    <div class="featured-col">{% endif %}
                        <div class="product-default left-details product-widget">
                            <figure>
                                {% if value.photo %}
                                <a href="{{ value.product.get_absolute_url }}">
                                    <img src="{{ value.photo.photo.url }}" alt="product">
                                </a>
                                {% else %}
                                <a href="{{ good.get_absolute_url }}">
                                    <img src="{% static 'assets/images/photo_net.jpg' %}" alt="product">
                                </a>
                                {% endif %}
                                {% if value.promo %}
                                    <div class="label-group">
                                        <span class="product-label label-sale">-{{ value.promo }}</span>
                                    </div>
                                {% endif %}
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a href="{{ value.product.get_absolute_url }}">{{ value.product }}</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:{{ value.rating }}%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    {% if value.promo %}
                                    <span class="old-price">{{ value.product.price }} y.e.</span>
                                    <span class="product-price">{{ value.new_price }} у.е.</span>
                                    {% else %}
                                    <span class="product-price">{{ value.product.price }} у.е.</span>
                                    {% endif %}
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                        {% if forloop.counter == 3 %}
                    </div>
                    {% endif %}
                    {% if forloop.counter == 6 %}
                </div>
                {% endif %}
                {% endfor %}

            </div><!-- End .widget-featured-slider -->
        </div><!-- End .widget-body -->
    </div><!-- End .widget -->

    <!--TODO текстовая панелька-->
    <div class="widget widget-block">
        <h3 class="widget-title">Мы работаем ради вас</h3>
        <h5>Немного о нас.</h5>
        <p>Наш интернет магазин - самый лучший интернет магазин из всех интернет магазинов, и никакие другие интернет
            магазины не переинтернетмагазинят наш интернет магазин по интернетмагазиности. </p>
        <p>И вообще, мы Главный конкурент АлиЭкспресса!.</p>
    </div><!-- End .widget -->

</div><!-- End .sidebar-wrapper -->
