<div class="toolbox-item toolbox-show">
    <label>Показать по: </label>
    <form action="{% url 'shopping' %}" method="get" class="toolbox-item">
        {% csrf_token %}
        <input type="submit" name="show_gl" value="9" class="page-link">
    </form>
    <form action="{% url 'shopping' %}" method="get" class="toolbox-item">
        {% csrf_token %}
        <input type="submit" name="show_gl" value="12" class="page-link">
    </form>
    <form action="{% url 'shopping' %}" method="get" class="toolbox-item">
        {% csrf_token %}
        <input type="submit" name="show_gl" value="15" class="page-link">
    </form>
    <label></label>
</div>


{% comment %}
<div class="toolbox-item toolbox-show">

    <form action="{% url 'shopping' %}" method="get" class="toolbox-item">
        {% csrf_token %}
        <input type="submit" name="show_goods_how" value="chess" class="page-link">
    </form>

</div>
{% endcomment %}


<div class="toolbox-item layout-modes">

    {% comment %}
    <form action="{% url 'shopping' %}" method="get">
        <input type="text" name="s" placeholder="Поиск...">
        <input type="text" name="review_object" value="{{ post }}" style="display: none;">
        <input type="submit" style="display: none;">
        <input type="submit" value="Поиск">
    </form>
    {% endcomment %}


    <a href="#push" class="layout-btn btn-grid active" title="Шахматы">
        <form action="{% url 'shopping' %}" method="get" style="display: none;">
            <input type="text" name="show_chess" value="3x">
            <input name="push" type="submit">
        </form>
        <i class="icon-mode-grid">

        </i>
    </a>

    {% comment %}
    <form name="chess" action="{% url 'shopping' %}" method="get">
        <input type="text" name="show_chess" value="3x" style="display: none;">
        <input type="submit" style="display: none;">
    </form>
    {% endcomment %}

    <a href="{% url 'shopping' %} visio=3x" class="layout-btn btn-list" title="Построчно">
        <i class="icon-mode-list"></i>
    </a>
</div><!-- End .layout-modes -->

