{% load static %}

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{% url 'shopping' %}">Магазин</a></li>
            <li class="breadcrumb-item"><a href="{% url 'orders:orders_index' %}">Корзина</a></li>
            <li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
        </ol>
    </div>
</nav>
