{% load static %}

{{ breadcrumb_list }}

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{% url 'shopping' %}">Магазин</a></li>
            <li class="breadcrumb-item"><a href="{% url 'orders:orders_index' %}">Корзина</a></li>
            <li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
        </ol>
    </div>
</nav>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb alert alert-success" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
	{% for item in breadcrumb_list %}
	{% if forloop.last %}
	<li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
	    <span itemprop="name">11{{ item.name }}</span>
	    <meta itemprop="position" content='{{item.position}}' />
	</li>
	{% else %}
	<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
	    {% if item.resolved %}
	    <a itemprop="item" href="{{item.url}}" >
		<span itemprop="name">22{{item.name}}</span>
	    </a>
	    <meta itemprop="position" content="{{item.position}}" />
	    {%else%}
	    <span itemprop="name">33{{item.name}}</span>
	    <meta itemprop="position" content="{{item.position}}" />

	    {%endif%}
	</li>
	{% endif %}
    	{% endfor %}
    </ol>
</nav>
