{% load static %}
{% load static mptt_tags %}

<div class="col-lg-6">
    <div class="menu-title mb-1">
        <a href="{% url 'shopping' %}">Категории</a>
    </div>

    <div class="widget-body">

        {% recursetree categories %}

        <ul class="submenu">
            <li>
                {% if node.level == 0 %}
                <strong>{{ node.title }}</strong>

                    {% for item in categories %}
                    {% if item.parent_id == node.id %}

                    <ul class="submenu">
                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                    </ul>

                    {% endif %}
                    {% endfor %}

                {% endif %}

                {% if not node.is_leaf_node %}
                <ul class="submenu">
                    {{ children }}
                </ul>
                {% endif %}

            </li>
        </ul>

        {% endrecursetree %}

    </div>
</div>

<div class="col-lg-6">
    <div class="menu-title mb-1">
        <a href="{% url 'shopping' %}">Бренды</a>
    </div>

    <ul class="submenu">
        {% for brand in brands %}

        <li><a href="{{ brand.get_absolute_url }}"><strong>{{ brand.title }}</strong></a></li>

        {% endfor %}
    </ul>

</div>
