{% extends 'base.html' %}}
{% load static %}
{% load bootstrap4 %}


{% block title %}

Корзина  :: {{ block.super }}

{% endblock %}

{% block content %}

<div class="page-wrapper">
    <main class="main">

        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shopping' %}">Магазин</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                </ol>
            </div>
        </nav>

        <div class="container mb-6">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table-container">
                        <table class="table table-cart">

                            <thead>
                            <tr>
                                <th class="product-col">Название товара</th>
                                <th class="price-col">Цена</th>
                                <th class="qty-col">Кол-во</th>
                                <th>Итого</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for item in cart %}
                            {% with good=item.product %}

                            <tr class="product-row">
                                <td class="product-col">

                                    {% if good.images_for_goods.all %}

                                    <figure class="product-image-container">

                                        {% for photo in good.images_for_goods.all %}
                                        {% if forloop.counter == 1 %}

                                        <a href="{{ good.get_absolute_url }}">
                                            <img src="{{ photo.photo.url }}" width="150">
                                        </a>

                                        {% endif %}
                                        {% endfor %}

                                    </figure>

                                    {% else %}

                                    <figure class="product-image-container">
                                        <a href="{{ good.get_absolute_url }}">
                                            <img src="{% static 'assets/images/photo_net.jpg' %}" width="150">
                                        </a>
                                    </figure>

                                    {% endif %}

                                    <h2 class="product-title">
                                        <a href="{{ good.get_absolute_url }}">{{ good.title }}</a>
                                    </h2>

                                </td>

                                <td>{{ item.price }} руб.</td>

                                <td>
                                    <br>
                                    <br>
                                    <form action="{% url 'orders:cart_add' good.id %}" method="post">

                                        {% csrf_token %}

                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}

                                        <input type="submit" class="btn btn-sm btn-primary" value="Обновить">
                                    </form>
                                </td>

                                <td>{{ item.total_price }} руб.</td>

                            </tr>

                            <tr class="product-action-row">
                                <td colspan="4" class="clearfix">
                                    <div class="float-left">
                                        <a href="{% url 'orders:cart_remove' good.id %}" class="btn-move">Удалить из
                                            корзины</a>
                                    </div>

                                    <div class="float-right">
                                        <a href="{% url 'shopping' %}" title="Вернуться к покупкам"
                                           class="fa fa-shopping-cart"></a>
                                    </div>

                                </td>
                            </tr>

                            {% endwith %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cart-summary">
                        <h3>Сумма Вашей покупки</h3>

                        <table class="table table-totals">
                            <tbody>
                            <tr>
                                <td>{{ cart.get_total_price }} руб.</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>

                            </tr>
                            </tfoot>
                        </table>

                        {% if request.user.is_authenticated %}

                        <form action="{% url 'orders:order_add' %}" method="get">

                            <div class="checkout-methods">
                                <input type="submit" class="btn btn-block btn-sm btn-primary" value="Перейти к покупке">
                            </div>

                        </form>

                        {% else %}

                        <div class="checkout-methods">
                            <p>Чтобы перейти к покупке</p>
                            <p>выбранных Вами товаров:</p>
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Войти</a> |
                            <a href="{% url 'register' %}">Зарегистрироваться</a>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
