{% extends 'base.html' %}}
{% load static %}
{% load bootstrap4 %}

{% block title %}

Заказ оформлен  :: {{ block.super }}

{% endblock %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Заказ оформлен</li>
            </ol>
        </div>
    </nav>

    <div class="page-wrapper">
        <div class="container mb-6">

            <h2>Ваш заказ успешно оформлен.</h2>
            <p>Номер заказа: <strong>{{ order.pk }}</strong> |
                Дата: <strong>{{ order.date_at | date:"d E Y" }}</strong> |
                <strong>{{ order.get_status_display }}</strong> |
                Стоимость: <strong>{{ order.get_total_price }}</strong> руб. |
                {{ order.get_delivery_type_display }}</p>

            <p><strong>Заказанные товары:</strong></p>

            <section class="section-2 product-collection container">
                <div class="row m-0">

                    {% for item in order_items %}
                    {% with good=item.product %}

                    <div class="product-row">
                        <div class="product-col">

                            {% if good.images_for_goods.all %}

                            <figure class="product-image-container">

                                {% for photo in good.images_for_goods.all %}
                                {% if forloop.counter == 1 %}

                                <a href="{{ good.get_absolute_url }}"><img src="{{ photo.photo.url }}" width="150"></a>

                                {% endif %}
                                {% endfor %}

                            </figure>

                            {% else %}

                            <figure class="product-image-container">
                                <a href="{{ good.get_absolute_url }}">
                                    <img src="{% static 'assets/images/photo_net.jpg' %}" width="150">
                                </a>
                            </figure>

                            {% endif %}

                            <div>

                                <a href="{{ good.get_absolute_url }}"><strong>{{ good.title | truncatechars:10 }}</strong></a>

                            </div>
                        </div>

                        <div>{{ item.quantity }} х {{ item.price }} руб.<br> Всего: {{ item.get_cost }} руб.</div>

                    </div>

                    {% endwith %}
                    {% endfor %}

                </div>
            </section>
        </div>
    </div>
</main>

{% endblock %}
