{% load static %}

<footer class="footer font2 appear-animate" data-animation-delay="300" data-animation-duration="1200">
    <div class="instagram-section"></div>

    <div class="container">
        <div class="footer-middle">
            <div class="row">
                <div class="col-lg-5 m-b-4">
                    <p class="footer-desc">Красота в глазах смотрящего <br>В наших глазах все - совершенство</p>

                    <div class="row ls-0 footer-question">
                        <div class="col-5">
                            <h6 class="mb-0">Остались вопросы?</h6>
                            <h4>+7 (4212) 11 22 33</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 m-b-6">
                    <div class="widget">
                        <h4 class="widget-title">Клиентам</h4>

                        <ul class="links">
                            <li><a href="{% url 'my_account' %}">Личный кабинет</a></li>
                            <li><a href="{% url 'payments' %}">Способы оплаты</a></li>
                            <li><a href="{% url 'delivery' %}">Доставка</a></li>
                            <li><a href="{% url 'return' %}">Возврат</a></li>
                            <li><a href="{% url 'faqs' %}">FAQs</a></li>
                            <li><a href="{% url 'privacy' %}">Конфиденциальность</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 m-b-6">
                    <div class="widget">
                        <h4 class="widget-title">О компании</h4>

                        <ul class="links">
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'support' %}">Поддержка</a></li>
                            <li><a href="{% url 'warranty' %}">Гарантии</a></li>
                            <li><a href="{% url 'conditions' %}">Условия и положения</a></li>
                            <li><a href="{% url 'intellproperty' %}">Интеллектуальная собственность</a></li>
                            <li><a href="{% url 'contact' %}">Свяжитесь с нами</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark">
        <div class="container">
            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <div class="footer-left">
                    <p class="footer-copyright py-3 pr-4 mb-0">&copy; Главный конкурент АлиЭкспресса, 2022. Все права
                        защищены.</p>
                </div>

                <div class="footer-right">
                    <img src="{% static 'assets/images/payments.png' %}" alt="payment">
                </div>
            </div>
        </div>
    </div>
</footer>
