{% load static %}
<div class="top-notice">
    <div class="container">
		<div class="notify-left flex-wrap d-flex align-items-center">
			<h5 class="text-white"><strong>СКИДКА 50%</strong></h5>
			<div class="main-heading">
				<h5>Используй промокод* <b class="text-dark">Fogstream</b></h5>
				<h6><small>*При заказе от 3000 р.</small></h6>
			</div>
		</div>
		<div class="notify-right d-block">
			<h4><b class="text-dark">БЕСПЛАТНАЯ ДОСТАВКА НА СЛЕДУЮЩИЙ ДЕНЬ*</b></h4>
			<h6><small>* В рабочие дни - при заказе на сумму более 2000 р.</small></h6>
		</div>
	</div><!-- End .container -->
</div><!-- End .top-notice-->

<header class="header">
	<div class="header-top">
		<div class="container">
			<div class="header-left header-dropdowns">
				<div class="header-dropdown">
					<a href="#">Вы находитесь в РФ</a>
					<div class="header-menu">
						<ul>
							<li><a href="#">Да</a></li>
							<li><a href="#">Да</a></li>
						</ul>
					</div>
					</div><!-- End .header-menu -->

			<span class="separator"></span>
<!--				<div class="header-menu">-->
<!--					<ul class="mb-0 d-none d-lg-flex">-->
<!--						<li><a href="#">Оформить заказ</a></li>-->
<!--						<li><a href="#">Корзина</a></li>-->
<!--						<li><a href="#">Свяжитесь с нами</a></li>-->
<!--					</ul>-->
<!--				</div>-->
			</div><!-- End .header-dropdown -->
			<div class="header-right w-lg-max ml-0 ml-lg-auto">
				<div class="header-contact d-none d-sm-flex align-items-center ml-auto">
					<i class="icon-phone-2"></i>
					<h6><a href="tel:#" class="d-block">+7 (4212) 11 22 33</a></h6>
				</div><!-- End .header-contact -->

				<span class="separator d-sm-block d-none"></span>

				<div class="header-search header-search-popup header-search-category d-block header-icon text-dark">
					<a href="#" class="search-toggle btn p-0 icon-search-3" role="button"></a>

					<form action="#" method="get">
						<div class="header-search-wrapper">
							<input type="search" class="form-control bg-white" name="q" id="q" placeholder="Поиск..." required="">
							<button class="btn fas fa-search bg-transparent p-0 border-0"  type="submit"></button>
						</div><!-- End .header-search-wrapper -->
					</form>
				</div>

				<a href="login.html" class="header-icon login-link text-dark"><i class="icon-user-2"></i></a>
<!--		                <a href="#" class="header-icon position-relative">-->
<!--		                    <i class="icon-wishlist-2 text-dark"></i>-->
<!--		                    <span class="badge-circle">0</span>-->
<!--		                </a>-->

				<div class="dropdown cart-dropdown pl-1 text-dark">
					<a href="cart.html" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
						<i class="icon-shopping-cart"></i>
						<!-- TODO количество товаров в корзине count-->
						<span class="cart-count badge-circle">count</span>
					</a>

					<div class="dropdown-menu">
						<div class="dropdownmenu-wrapper">
							<div class="dropdown-cart-header">
								<!-- TODO количество товаров в корзине count-->
								<span>count товаров</span>

								<a href="cart.html" class="float-right">В корзине</a>
							</div><!-- End .dropdown-cart-header -->

							<div class="dropdown-cart-products">
								<div class="product">
									<div class="product-details">
										<h4 class="product-title">
											<a href="product.html">Woman Ring</a>
										</h4>

										<span class="cart-product-info">
											<span class="cart-product-qty">1</span>
											x $99.00
										</span>
									</div><!-- End .product-details -->

									<figure class="product-image-container">
										<a href="product.html" class="product-image">
											<img src="{% static 'assets/images/products/cart/product-1.jpg' %}" alt="product" width="80" height="80">
										</a>
										<a href="#" class="btn-remove icon-cancel" title="Remove Product"></a>
									</figure>
								</div><!-- End .product -->
								<div class="product">
									<div class="product-details">
										<h4 class="product-title">
											<a href="product.html">Woman Necklace</a>
										</h4>

										<span class="cart-product-info">
											<span class="cart-product-qty">1</span>
											x $35.00
										</span>
									</div><!-- End .product-details -->

									<figure class="product-image-container">
										<a href="product.html" class="product-image">
											<img src="{% static 'assets/images/products/cart/product-2.jpg' %}" alt="product" width="80" height="80">
										</a>
										<a href="#" class="btn-remove icon-cancel" title="Remove Product"></a>
									</figure>
								</div><!-- End .product -->
							</div><!-- End .cart-product -->

							<div class="dropdown-cart-total">
								<span>Всего</span>
								<!-- TODO общая стоимость count * price-->
								<span class="cart-total-price float-right">count * price</span>
							</div><!-- End .dropdown-cart-total -->

							<div class="dropdown-cart-action">
								<a href="checkout-shipping.html" class="btn btn-dark btn-block">Оформить заказ</a>
							</div><!-- End .dropdown-cart-total -->
						</div><!-- End .dropdownmenu-wrapper -->
					</div><!-- End .dropdown-menu -->
				</div><!-- End .dropdown -->
			</div><!-- End .header-right -->
		</div><!-- End .container -->
	</div><!-- End .header-top -->

	<div class="header-middle sticky-header">
		        <div class="container">
		            <div class="header-left d-none d-lg-flex">
		                <div class="main-nav d-flex w-lg-max">
		                    <ul class="menu">
		                        <li class="active">
		                            <a href="{% url 'index' %}">Главная страница</a>
								</li>

								<li class="border-0">
									<a href="category.html" class="sf-with-ul border-0">Каталог товаров</a>
									<div class="megamenu megamenu-fixed-width megamenu-3cols">
										<div class="row">
											<div class="col-lg-9">
												<div class="row">
													<div class="col-lg-6">
														<div class="menu-title mb-1">
															<a href="#">Variations 1<span class="tip tip-new">New!</span></a>
														</div>
														<ul class="submenu">
															<li><a href="category-banner-full-width.html">Fullwidth Banner<span class="tip tip-hot">Hot!</span></a></li>
															<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
															<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
															<li><a href="category-sidebar-left.html">Left Sidebar</a></li>
															<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
															<li><a href="category-flex-grid.html">Product Flex Grid</a></li>
															<li><a href="category-horizontal-filter1.html">Horizontal Filter1</a></li>
															<li><a href="category-horizontal-filter2.html">Horizontal Filter2</a></li>
														</ul>
													</div><!-- End .col-lg-6 -->
													<div class="col-lg-6">
														<div class="menu-title mb-1">
															<a href="#">Variations 2</a>
														</div>
														<ul class="submenu">
															<li><a href="#">Product List Item Types</a></li>
															<li><a href="category-infinite-scroll.html">Ajax Infinite Scroll</a></li>
															<li><a href="category-3col.html">3 Columns Products</a></li>
															<li><a href="category.html">4 Columns Products <span class="tip tip-new">New</span></a></li>
															<li><a href="category-5col.html">5 Columns Products</a></li>
															<li><a href="category-6col.html">6 Columns Products</a></li>
															<li><a href="category-7col.html">7 Columns Products</a></li>
															<li><a href="category-8col.html">8 Columns Products</a></li>
														</ul>
													</div><!-- End .col-lg-6 -->
												</div><!-- End .row -->
											</div><!-- End .col-lg-9 -->
											<div class="col-lg-3 p-0">
												<div class="banner h-100">
													<a href="#">
														<img src="{% static 'assets/images/menu-banner-2.jpg' %}" alt="Menu banner">
													</a>
												</div><!-- End .banner -->
											</div><!-- End .col-lg-3 -->
										</div>
									</div><!-- End .megamenu -->
								</li>

								<li class="megamenu-container border-0">
									<a href="product.html" class="sf-with-ul border-0">Все товары</a>
									<div class="megamenu">
										<div class="row">
											<div class="col-lg-9">
												<div class="row">
													<div class="col-lg-4">
														<div class="menu-title">
															<a href="#">Variations</a>
														</div>
														<ul class="submenu">
															<li><a href="product.html">Horizontal Thumbnails</a></li>
															<li><a href="product-full-width.html">Vertical Thumbnails</a></li>
															<li><a href="product.html">Inner Zoom</a></li>
															<li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>
															<li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
														</ul>
													</div><!-- End .col-lg-4 -->
													<div class="col-lg-4">
														<div class="menu-title">
															<a href="#">Variations</a>
														</div>
														<ul class="submenu">
															<li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
															<li><a href="product-simple.html">Simple Product</a></li>
															<li><a href="product-sidebar-left.html">With Left Sidebar</a></li>
														</ul>
													</div><!-- End .col-lg-4 -->
													<div class="col-lg-4">
														<div class="menu-title">
															<a href="#">Product Layout Types</a>
														</div>
														<ul class="submenu">
															<li><a href="product.html">Default Layout</a></li>
															<li><a href="product-extended-layout.html">Extended Layout</a></li>
															<li><a href="product-full-width.html">Full Width Layout</a></li>
															<li><a href="product-grid-layout.html">Grid Images Layout</a></li>
															<li><a href="product-sticky-both.html">Sticky Both Side Info</a></li>
															<li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>
														</ul>
													</div><!-- End .col-lg-4 -->
												</div><!-- End .row -->
											</div><!-- End .col-lg-9 -->
											<div class="col-lg-3 p-0">
												<div class="banner h-100">
													<a href="#">
														<img src="{% static 'assets/images/menu-banner.jpg' %}" alt="Menu banner" class="product-promo p-0">
													</a>
												</div><!-- End .banner -->
											</div><!-- End .col-lg-3 -->
										</div><!-- End .row -->
									</div><!-- End .megamenu -->
								</li>

		                        <li>
		                            <a href="#">Помощь</a>
		                            <ul>
<!--		                                <li><a href="cart.html">Корзина</a></li>-->
<!--		                                <li><a href="#">Оформить заказ</a>-->
<!--		                                    <ul>-->
<!--		                                        <li><a href="checkout-shipping.html">Checkout Shipping</a></li>-->
<!--		                                        <li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>-->
<!--		                                        <li><a href="checkout-review.html">Checkout Review</a></li>-->
<!--		                                    </ul>-->
<!--		                                </li>-->
<!--		                                <li><a href="my-account.html">Мой профиль</a>-->
<!--		                                    <ul>-->
<!--		                                        <li><a href="dashboard.html">Dashboard</a></li>-->
<!--		                                        <li><a href="my-account.html">My Account</a></li>-->
<!--		                                    </ul>-->
<!--		                                </li>-->
<!--		                                <li><a href="about.html">Про нас</a></li>-->
<!--		                                <li><a href="#">Блог</a>-->
<!--		                                    <ul>-->
<!--		                                        <li><a href="blog.html">Blog</a></li>-->
<!--		                                        <li><a href="single.html">Blog Post</a></li>-->
<!--		                                    </ul>-->
<!--		                                </li>-->
<!--		                                <li><a href="contact.html">Contact Us</a></li>-->
<!--		                                <li><a href="#" class="login-link">Login</a></li>-->
		                                <li><a href="forgot-password.html">Забыли пароль?</a></li>
		                            </ul>
		                        </li>
		                    </ul>
		                </div>
		            </div><!-- End .header-left -->

<!--		            <div class="header-center justify-content-between">-->
<!--		                <a href="index.html" class="logo">-->
<!--		                    <img src="assets/images/logo.png" alt="Porto Logo">-->
<!--		                </a>-->

<!--		                <button class="mobile-menu-toggler" type="button">-->
<!--		                    <i class="icon-menu"></i>-->
<!--		                </button>-->
<!--		            </div>&lt;!&ndash; End .header-center &ndash;&gt;-->

		            <div class="header-right d-none d-lg-flex">
		                <div class="main-nav d-flex w-lg-max justify-content-end">
		                    <ul class="menu">
		                        <li><a href="blog.html">Блог</a></li>
		                        <li><a href="about.html">Про нас</a></li>
<!--		                        <li><a href="#">Elements</a></li>-->
<!--		                        <li><a href="https://1.envato.market/DdLk5" target="_blank">Buy Porto!</a></li>-->
		                    </ul>
		                </div>
		            </div><!-- End .header-right -->
		        </div><!-- End .container -->
		    </div><!-- End .header-middle -->
</header><!-- End .header -->